/* *
 * Google Fonts
 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap");

/* *
 * styles
 */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto";
  color: #1f1e1f;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-weight: 400;
  margin: 1vh 1vw;
  margin-bottom: 0;
  font-size: 6vh;
}
p {
  font-family: "open sans";
  font-size: 1.25rem;
  text-align: justify;
}

/* Solid Colour */

.solid-background {
  background: #c89f93;
}
/* *
 * topnav
 */
.topnav {
  background: #343234;
  border-bottom: 0.5vh solid #948d89;
  overflow: hidden;
  height: 7.4vh;
}
.topnav ul li a {
  background: #343234;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 2.5vh;
  padding: 2.5vh;
  color: #948d89;
  float: left;
  text-align: left;
  border-top: 0rem solid #948d89;
}
.topnav ul li.license img,
.topnav ul li.license a {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  margin: 1vh 1vw;
  height: 5vh;
}
.topnav ul li.license a {
  background: #343234;
}
.topnav ul li.license a:hover {
  background: #343234;
}
.topnav a.active {
  background: #992a2c;
  color: #948d89;
  cursor: pointer;
}
ul {
  list-style-type: none;
}
.topnav ul li a:hover {
  background: #a74639;
  color: #343234;
}
.topnav ul li a.active:hover {
  background: #992a2c;
  color: #948d89;
  cursor: pointer;
}
.topnav.license {
  float: right;
}

/* *
 * Home Page copy
 */

.homecopy h1 {
  position: static;
  background: rgba(0, 0, 0, 0);
  font-size: 10vw;
  margin-left: 1rem;
  margin-top: 1rem;
  font-weight: 700;
}
.homecopy h2 {
  position: absolute;
  text-align: right;
  bottom: 0;
  right: 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-size: 8vw;
}

/* *
 * Poetry and Questions
 */

ul.poetrybar,
ul.qbar,
ul.infobar {
  position: relative;
  overflow: scroll;
  color: #343234;
}
ul.poetrybar li a,
ul.qbar li a,
ul.infobar li a {
  text-decoration: none;
  font-size: 2vh;
  text-indent: 1em;
  line-height: 4vh;
  margin-bottom: 0;
  padding-bottom: 0;
  display: block;
}
ul.qbar li a {
  text-align: center;
  font-size: 4vh;
  line-height: 16vh;
}

ul.poetrybar li p,
ul.qbar li p,
ul.infobar li p {
  text-decoration: none;
  font-size: 2vh;
  text-indent: 2em;
  line-height: 4vh;
  display: block;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0.5vh;
  padding-top: 0;
}
ul.poetrybar li a:hover,
ul.qbar li a:hover,
ul.infobar li a:hover {
  text-decoration: underline;
  display: block;
  cursor: pointer;
}
ul.poetrybar li a.active,
ul.qbar li a.active,
ul.infobar li a.active {
  color: #948d89;
}
ul.poetrybar li a.active:hover,
ul.qbar li a.active:hover {
  text-decoration: none;
  cursor: default;
}

.poem,
.questions {
  font-family: "open sans";
  display: block;
  text-align: left;
  margin-left: 1vw;
  margin-right: 2vw;
  text-overflow: scroll;
}

.questions {
  font-size: 1.5em;
  text-align: center;
  line-height: 6vw;
}
.poem br,
.questions br {
  display: block;
  content: "";
  line-height: 100%;
  margin-top: 2vh;
}

/* *
 * Columns
 */
.column {
  float: right;
  width: 100%;
  height: calc(100vh - 20vh);
  overflow: scroll;
  margin: 1vh 1vw;
}

/* Clear Floats after the columns */
.row {
  display: flex;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  margin: 0;
}

/* .left {
  width: 25%;
}

.right {
  width: 75%;
} */

/* *
 * backgrounds
 */

/* homepage */
.bg {
  animation: slide 7s ease-in-out infinite alternate;
  background-image: linear-gradient(235deg, #c66558 50%, #ca3f41 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.25;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
  height: calc (100% - 1em);
}
.bg2 {
  animation: slide 5s ease-in-out infinite alternate-reverse;
  background-image: linear-gradient(170deg, #494649 50%, #c89f93 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
  height: calc (100% - 1em);
}
.bg3 {
  animation: slide 5s ease-in-out infinite alternate-reverse;
  background-image: linear-gradient(300deg, #766e6b 50%, #a36552 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
  height: calc (100% - 1em);
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

/* * 
 * Creative Commons License 
*/
